<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" ui-sref="trails.trail">
    <ion-nav-view name="trails-map"></ion-nav-view>
  </ion-tab>

  <!-- Trails Tab -->
  <ion-tab title="Route" icon-off="ion-network" icon-on="ion-network" ui-sref="trails.route">
    <ion-nav-view name="trails-route"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Landmarks" icon-off="ion-location" icon-on="ion-location" ui-sref="trails.landmarks">
    <ion-nav-view name="trails-landmark"></ion-nav-view>
  </ion-tab>
</ion-tabs>

