<ion-view view-title="Dashboard">
  <ion-content style="background-color: #f8f8f8;">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-pause-on-hover class="image trail-carou">
      <li ng-repeat="trail in trails track by trail.id" style="z-index: -1 !important;">
        <a ng-href="#/trails/{{trail.id}}/map">     
  	      <ion-list class="list card">
            <ion-item class="item-image carou-image" ng-style="{'background-image': 'url(' + trail.image + ')'}">
            </ion-item>
            <ion-item>
              <h2>{{trail.name}}</h2>
              <p>{{trail.desc}}</p>
            </ion-item>
          </ion-list>
        </a>
      </li>
    </ul>
    <div rn-carousel-indicators ng-if="trails.length > 1" slides="trails" rn-carousel-index="carouselIndex" style="margin: 10px auto; text-align: center; z-index: 100;"></div>

    <div class="row">
      <button class="button button-positive col trail-type">Environment</button>
      <button class="button button-calm col trail-type">Art</button>
    </div>
    
    <div class="row">
      <button class="button button-balanced col trail-type">Historic</button>
      <button class="button button-energized col trail-type" style="background-color:#ffc900">Civic</button>
    </div>
  </ion-content>
</ion-view>
