/* Empty. Add your own CSS if you like */

.map {
    height: 100vh;
}

a {
    text-decoration: none;
}

.trail-carou {
    height: 45vh;
    background-color: #F8F8F8;
}

.carou-image {
   height: 38vh;
}

.bgimage {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.trail-type {
   height: 18vh;
   
   margin: 5px 5px 5px 5px;
   font-size: 36px;  
}
